.ingredient__сard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  cursor: pointer;
}

.ingredient__сard_isDragging {
  background-color: var(--interface-accent);
  border-radius: 10%;
}

.ingredient__price {
  display: flex;
  flex-direction: row;
}

.ingredient__name {
  text-align: center;
}
