.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orderNumber {
}

.title {
}

.subtitle {
}

.image {
  width: 120px;
  height: 120px;
}

.description {

}