.constructor__elements {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 340px);
  height: 100vh;
  border-radius: 1%;
}

.constructor__elements_dropArea {
  outline: 1px dashed var(--interface-accent);
}

.constructor__elements_canDrop {
  outline: 2px solid var(--interface-accent);
}

.constructor__elements_canNotDrop {
  outline: 1px dashed var(--interface-error);
}

.constructor__bunTop {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.constructor__bunBottom {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  cursor: pointer;
}

.constructor__nonBunElements {
  height: 100%;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.constructor__nonBunElement {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.constructor__nonBunElement:last-of-type {
  margin-bottom: 0;
}

.constructor__totalPriceContainer {
  display: flex;
  justify-content: flex-end;
}

.constructor__totalPrice {
  display: flex;
  align-items: center;
}

.constructor__text {
  text-align: center;
}
