.page {
  position: relative;
  margin: 0 auto;
  max-width: var(--max-content-width-desktop);
  background-color: var(--main-background);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
}

.scroll::-webkit-scrollbar {
  width: 8px;
  background: #2f2f37;
}

.scroll::-webkit-scrollbar-thumb {
  background: #8585ad;
  border-radius: 6px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #8b8bcf;
}
