.draggableElement {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

a:last-of-type .draggableElement:last-of-type {
  margin-bottom: 0;
}

.draggableElement_isDragging {
  opacity: 0.6;
}