.profile__container {
  margin: 0 auto;
  max-width: var(--max-content-width-desktop);
  display: grid;
  grid-template-columns: 320px 1fr;
  column-gap: 90px;
}

.profile__navigation {
  list-style: none;
}

.profile__field {
  max-width: 480px;
}

.profile__description {
  opacity: 0.4;
}
