.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: 720px;
  max-height: 718px;
  background: var(--modal-background);
  border-radius: 40px;
  z-index: 10;
  box-shadow: rgba(76, 76, 255, 0.5) -5px 5px 150px 50px; 
  border: 2px solid var(--interface-accent);
}

.modal__closeIcon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
  transform: translate(-30px, 50px);
  cursor: pointer;
}
