.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: 720px;
  max-height: 718px;
  background: var(--main-background);
  box-shadow: rgba(76, 76, 255, 0.5) -5px 5px 250px 90px;
  border: 2px solid #4c4cff;
  border-radius: 40px;
  transition: visibility 0.3s 0s, opacity 0.3s 0s linear;
}

/* .modal_closed {
  opacity: 0;
} */

.modal__closeIcon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
  transform: translate(-40px, 68px);
  cursor: pointer;
}
