.ingredient {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ingredient__name {
  text-align: center;
}

.ingredient__image {
  width: 520px;
  height: 240px;
  object-fit: contain;
  box-sizing: border-box;
}

.ingredient__title {
  align-self: center;
}

.ingredient__compounds {
  max-width: 520px;
  display: grid;
  gap: 20px;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, auto);
}

.ingredient__compound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
