@import url('../src/vendor/normalize.css');
@import url('../src/vendor/fonts/fonts.css');
/* vendor css */

body {
  --max-width-desktop: 1920px;
  --max-header-width-desktop: 1280px;
  --max-content-width-desktop: 1240px;
  --main-background: #131316;
  --header-background: #1C1C21;
}