@import url('../src/vendor/normalize.css');
@import url('../src/vendor/fonts/fonts.css');
/* vendor css */

:root {
  --max-width-desktop: 1920px;
  --max-header-width-desktop: 1280px;
  --max-content-width-desktop: 1240px;
  --main-background: #131316;
  --header-background: #1c1c21;
  --modal-background: #1c1c21;
  --interface-accent: #4c4cff;
  --interface-error: #ee3737;
  --link-text-color-primary: #fff;
}

.customScroll::-webkit-scrollbar {
  width: 8px;
  background: #2f2f37;
}

.customScroll::-webkit-scrollbar-thumb {
  background: #8585ad;
  border-radius: 6px;
}

.customScroll::-webkit-scrollbar-thumb:hover {
  background: #8b8bcf;
}