@import url('../src/vendor/normalize.css');
@import url('../src/vendor/fonts/fonts.css');
/* vendor css */

:root {
  --max-width-desktop: 1920px;
  --max-header-width-desktop: 1280px;
  --max-content-width-desktop: 1240px;
  --main-background: #131316;
  --header-background: #1c1c21;
  --modal-background: #1c1c21;
  --interface-accent: #4c4cff;
  --interface-error: #ee3737;
  --link-text-color-primary: #fff;
}
