.header {
  margin: 0 auto;
  max-width: var(--max-width-desktop);
  background-color: var(--header-background);
}

.header__container {
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-header-width-desktop);
}

.header__navigation {
  margin: 0;
  padding: 0;
  display: grid;
  align-items: center;
  grid-template-columns: max-content max-content 1fr max-content;
  list-style: none;
}

.header__logo {
  display: flex;
  justify-content: center;
}
